*
!*/


!/.gitignore
!/LICENSE-MIT
!/LICENSE-APACHE
!/Readme.md

!/ArcInventoryExample5.uproject
!/Content/**
!/Source/**
!/Config/**

!/Plugins/ArcInventoryEnhancedInput/Content/**
!/Plugins/ArcInventoryEnhancedInput/Resources/**
!/Plugins/ArcInventoryEnhancedInput/Source/**
!/Plugins/ArcInventoryEnhancedInput/*.uplugin

